spring:
   profiles: 
     active: dev
      
---
spring:
   profiles: dev
   application:
    name:  springcloud-properties-dev
---
spring:
   profiles: test
   application:
    name:  springcloud-properties-test